* {
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  background-color: #fff;
  overflow-y: hidden;
}

main#quest {
  width: calc(100vw / 3 * 2);
}

main#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;


}

/*Aangepast*/

.background-image {
    position: fixed;
    overflow: auto;
    background-color:#e1e1e1;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

form {
   height: 80vh;
}

h1, h2, h3, p, a {
    color: #666;
}

label {
    color: white;
}
form h3 {
    text-align: center;
    color: #666;
}

.main-container {
    background-color: rgba(255,255,255,0.45);
    /* background-color: white; */
    width: 70%;
    /* height: 140vh; */
}

.left-background {
  position: fixed;
  background-color: rgba(255,255,255,0.4);
  left: 0;
  top: 0;
  width: calc(100vw / 4);
  z-index: -1;
  height: 100vh;
}


.logo-dataweek {
    position: fixed;
    width: 19vw;
    top: 0;
    left: 0;
    margin: 2em;
}


input {
    display: none;
}

input+label:hover {
  cursor: pointer;
}

label {
    padding:1em;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 5px;
    color: #666;
}
input[type=radio]:checked+label {
    background-color: #9adbf9;
    color: #fff;
    padding: 1em;
    border-radius: 5px;
    transition-duration: 0.3s;
}

.radio-buttons-vervoersmiddel input[type=radio]:checked+label {
    background-color: #9adbf9;
    color: #FFF;
    padding: 1em;
    border-radius: 5px;

}

.car-bike-container {
    display: flex;
    flex-direction: row;
    margin: 1e
}

.car-bike-container img {
    width: 10em;
    padding: 1em;
}

.radio-buttons, .radio-buttons-vervoersmiddel {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  padding: 1em;
}

.radio-buttons input {
  padding-right: 2em;
}

.radio-buttons-vervoersmiddel {
   padding: 2em;
}

.radio-buttons-vervoersmiddel label {
    background-color: b;
}

.button {
  border: 1px solid black;
}

#submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    background-color: #9adbf9;
    border: solid #9adbf9;
    font-size: 1em;
    margin-bottom: 10vh;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

#submit:hover {
  cursor: pointer;
}



/*Aangepast eind*/

#BG {
  height: 100vh;
  margin-right: calc(100vw / 3);
}

#car  {
  z-index: 100;
  width: 20vw;
  position: fixed;
  bottom: 0;
  left: 10em;
  margin-bottom: 7.5em;
}

#bike {
  z-index: 100;
  width: 13vw;
  position: fixed;
  bottom: 0;
  left: 10em;
  margin-bottom: 7.5em;
}

#WJD1, #WJD2, #WJD3 {
  position: fixed;
  z-index: 100;
  width: 22em;
  height: 22em;
  top: 0;
  margin-top: 4vh;
  opacity: 0;
  margin-left: 25%;
}

/* #WJD1 {
  left: 137em;
}

#WJD2 {
  left: 254em;
}

#WJD3 {
  left: 389em;
} */

#logo {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  margin-top: 1em;
  margin-left: 1.5em;
  width: 10em;
}

#intro-text {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  margin-top: 35vh;
  margin-left: 2em;
  width: 19vw;
}

#map {
  width: calc(100vw / 3);
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 9999;
}

#beer {
  z-index: 10001;
  position: fixed;
  right: 0;
  top: 0;
  width: 12em;
  margin: 0.5em;
  background-color: rgba(0,0,0,0.9);
  border-radius: 5%;
  padding: 1em;
}

#final-img {
  z-index: 10002;
  width: calc(100vw / 3 * 2);
  height: 75vh;
  position: fixed;
  left: 0;
  top: 10vh;
  opacity: 0;
}

#final-bg {
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  width: calc(100vw / 3 * 2);
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 10001;
  opacity: 0;
}

#retry-button {
  position: fixed;
  width: calc(100vw / 3 * 2);
  width: 10em;
  bottom: 0;
  left: 0;
  margin-left: calc(100vw / 3 * 2 / 3 + 3vw);
  margin-bottom: 2em;
  z-index: 10002;
  background-color: #9adbf9;
  padding: .5em .8em;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  opacity: 0;
}

.leaflet-control-container {
  display: none;
}

.show {
  animation: show .4s forwards ease-in-out;
}

.hide {
  animation: hide .4s forwards ease-in-out;
}


@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.bike-moving {
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;

}

.car-moving {
  animation-name: move;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.7s;

}

@keyframes move {
    0% {
        transform:translateY(0em);

    }
    20% {
        transform:translateY(0.3em);

    }
    40% {
        transform:translateY(0em);

    }
    60% {
        transform:translateY(-0.3em);

    }

}
