* {
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  /*background-color: #666;*/
  overflow-y: hidden;
}

main#quest {
  width: calc(100vw / 3 * 2);
}

main#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 60vh;
  margin-top: 40vh;

}

/*Aangepast*/

.background-image {
    position: absolute;
    height: 30vh;
    /*margin-top: 8vh;*/
    overflow: auto;
    background-color:#e1e1e1;
    width: 100vw;
    
}

form {
    margin-left: auto;
    margin-right: auto;
}


input {
    display: none;
}

label {
    padding:1em;
    margin-left: auto;
    margin-right: auto;
}
input[type=radio]:checked+label {
    background-color: #007aff;
    color: #fff;
    padding: 1em;
    border-radius: 5px;
}

.radio-buttons-vervoersmiddel input[type=radio]:checked+label {
    background-color: #000;
    color: #FFF;
    padding: 1em;
    border-radius: 5px;
    
}
 
.car-bike-container {
    display: flex;
}

.radio-buttons, .radio-buttons-vervoersmiddel {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
  padding: 1em;
}

.radio-buttons input {
  padding-right: 2em;
}

.radio-buttons-vervoersmiddel {
   padding: 2em; 
}

.radio-buttons-vervoersmiddel label {
    background-color: b
}

.button {
  border: 1px solid black;
}

#submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    color: 
}

/*Aangepast eind*/

#BG {
  height: 100vh;
  margin-right: calc(100vw / 3);
}

#car  {
  z-index: 100;
  width: 20vw;
  position: fixed;
  bottom: 0;
  left: 10em;
  margin-bottom: 7.5em;
  display: none;
}

#bike {
  z-index: 100;
  width: 13vw;
  position: fixed;
  bottom: 0;
  left: 10em;
  margin-bottom: 7.5em;
  display: none;
}

#map {
  width: calc(100vw / 3);
  height: 100vh;
  position: fixed;
  right: 0;
}

.leaflet-control-container {
  display: none;
}
