* {
  /* box-sizing: border-box; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;

  overflow-y: hidden;
}

main#quest {
  width: calc(100vw / 3 * 2);
}

main#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2em;
}

.radio-buttons input {
  padding-right: 2em;
}

.button {
  border: 1px solid black;
}

#BG {
  height: 100vh;
  margin-right: calc(100vw / 3);
}

#car  {
  z-index: 100;
  width: 20vw;
  position: fixed;
  bottom: 0;
  left: 10em;
  margin-bottom: 7.5em;
}

#bike {
  z-index: 100;
  width: 13vw;
  position: fixed;
  bottom: 0;
  left: 10em;
  margin-bottom: 7.5em;
}

#WJD1, #WJD2, #WJD3 {
  position: fixed;
  z-index: 100;
  width: 22em;
  height: 22em;
  top: 0;
  margin-top: 4vh;
  opacity: 0;
  margin-left: 25%;
}

/* #WJD1 {
  left: 137em;
}

#WJD2 {
  left: 254em;
}

#WJD3 {
  left: 389em;
} */

#map {
  width: calc(100vw / 3);
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 9999;
}

.leaflet-control-container {
  display: none;
}

.show-popup {
  animation: show-popup .4s forwards ease-in-out;
}

.hide-popup {
  animation: hide-popup .4s forwards ease-in-out;
}

@keyframes show-popup {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-popup {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
