<% include head %>

<header>

</header>

<main id="intro">
  <img src="#" alt="Logo">
  <p>Lorem ipsum dolor sit amet</p>

  <h3>Kies je transportatiemethode</h3>

  <form action="/start" method="post">
    <div class="radio-buttons">
      <label for="radio-car">Auto</label>
      <input id="radio-car" type="radio" name="transportation" value="car">
      <label for="radio-bike">Fiets</label>
      <input id="radio-bike" type="radio" name="transportation" value="bike">
    </div>

    <input type="submit" class="button"></input>
  </form>

</main>

<% include tail %>
