<% include head %>

<img class="background-image" src="assets/images/huis.svg" alt="background_city">


<div class="main-container">
  <main id="intro">
    <form action="/start" method="post">
     <img src="assets/images/logo.svg" alt="dataweekborrel_titel" class="logo-dataweek">
     <h3>Hoelaat vertrek je van Amsterdam Centraal?</h3>
     <div class="radio-buttons">
      <input id="now" type="radio" name="time" value="now" checked>
      <label for="now">Nu</label>

      <input id="9h" type="radio" name="time" value="9">
      <label for="9h">9:00</label>

      <input id="12h" type="radio" name="time" value="12">
      <label for="12h">12:00</label>

      <input id="15h" type="radio" name="time" value="15">
      <label for="15h">15:00</label>

      <input id="17h" type="radio" name="time" value="17">
      <label for="17h">17:00</label>
    </div>

    <h3>Hmm, even geen zin of lekker fietsen?</h3>

    <div class="car-bike-container">
      <img src="assets/images/Auto.svg" alt="" class="car-select">
      <img src="assets/images/Fiets.svg" alt="" class="bike-select">
    </div>

    <div class="radio-buttons-vervoersmiddel">
      <input id="radio-car" type="radio" name="transportation" value="car" checked>
      <label for="radio-car">Auto </label>

      <input id="radio-bike" type="radio" name="transportation" value="bike">
      <label for="radio-bike">Fiets</label>
    </div>

    <input id="submit" type="submit" class="button">
  </form>

  </main>
</div>

<script src="assets/js/script.js"></script>

<% include tail %>
