<% include head %>

<main id="quest">
  <img id="BG" src="assets/images/BG01.svg" alt="background">
  <img id="car" src="assets/images/Auto.svg" alt="car">
  <img id="bike" src="assets/images/Fiets.svg" alt="bike">
</main>
<div id="map"></div>

<script src="assets/js/jkwerie.js"></script>
<script src="assets/js/leaflet.js"></script>
<script src="assets/js/script.js" type="module"></script>


<% include tail %>
