<% include head %>

<main id="quest">
  <img id="BG" src="assets/images/BG01.svg" alt="background">
  <% if (data.transportation === 'car') { %>
    <img id="car" class="transport" src="assets/images/Auto.svg" alt="car">
    <img id="WJD1" class="WDJ1" src="assets/images/popup/WJD_Auto01.svg" alt="WJD auto 1">
    <img id="WJD2" class="WDJ2" src="assets/images/popup/WJD_Auto02.svg" alt="WJD auto 2">
    <img id="WJD3" class="WDJ3" src="assets/images/popup/WJD_Auto03.svg" alt="WJD auto 3">


  <% } else { %>
    <img id="bike" class="transport" src="assets/images/Fiets.svg" alt="bike">
    <img id="WJD1" class="WDJ1" src="assets/images/popup/WJD_Fiets01.svg" alt="WJD fiets 1">
    <img id="WJD2" class="WDJ2" src="assets/images/popup/WJD_Fiets02.svg" alt="WJD fiets 2">
    <img id="WJD3" class="WDJ3" src="assets/images/popup/WJD_Fiets03.svg" alt="WJD fiets 3">
  <% } %>
</main>
<div id="map"></div>

<script src="assets/js/jkwerie.js"></script>
<script src="assets/js/leaflet.js"></script>
<script src="assets/js/quest.js" type="module"></script>


<% include tail %>
